body{
	background-color:#01570d;
}
.container {
    display: grid;
    grid-template-columns: 1fr .25fr 1.5fr 0.25fr 1fr;
    grid-template-rows: 0.15fr 0.05fr 1fr 0.1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      ". title title title ."
      ". navbar navbar navbar ."
      "article-1 article-1 bulbsaur-image article-2 article-2"
      "footer footer footer footer footer";
  }
  
.title { 
    grid-area: title; 
    background-color:#008521;
	border:3px solid #000000;
	text-align:center;
	font-family: 'Indie Flower', cursive;
	font-size:2.5em;

}
  
.navbar { 
    grid-area: navbar; 
    border:3px solid #000000;
	font-family:'Raleway', sans-serif;
    background-color:#008521;
}

.navbar a {
    display: inline;
    background-color: #008521;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
    overflow: hidden;
    
}

.navbar a:hover {
    background-color: #00ad2b;
    color: black;
  }
.navbar a.active {
    background-color: #03be32;
    color: #000000;
}
  
.article-1 { 
    grid-area: article-1;
    background-color:#008521;
	border:3px solid #000000;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
  
.article-2 { 
    grid-area: article-2;
    background-color:#008521;
	border:3px solid #000000;
    text-align: center;
    font-family: 'Raleway', sans-serif; 
    padding-left: 5px;
    padding-right: 5px;
    
}
  
.bulbsaur-image { 
    grid-area: bulbsaur-image;
    width: 500px;
    height: 500px;
    display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
    background-color: #008521;
    border: 3px solid #000000;
    padding-left: 30px;
    padding-right: 30px;
    

}
img:hover {
    animation:spin 200s ease-in infinite, rainbow 4s steps(36) infinite;
}
@keyframes spin { 100% { -webkit-transform: rotate(360000deg); transform:rotate(360000deg); } }

@-webkit-keyframes rainbow {
    from { -webkit-filter:hue-rotate(0deg); }
      to { -webkit-filter:hue-rotate(360deg); }
}

@keyframes rainbow {
    from {
       -webkit-filter:hue-rotate(0deg);
               filter:hue-rotate(0deg);
       }
     to {
       -webkit-filter:hue-rotate(360deg);
               filter:hue-rotate(360deg);
       }
   }
   
  
.footer { 
    grid-area: footer;
    background-color:#008521;
	width:100%;
	border:3px solid #000000;
	text-align:center;
	font-family: 'Raleway', sans-serif;
	font-size:1em; 

}
  